*,
*::before,
*::after {
  box-sizing: border-box;
  /*margin: 0;
  padding: 0;*/
}

body {
  background-color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
main,
nav,
footer {
  border: 2px solid brown;
  border-radius: 6px;
}

.wrapper {
  width: min-content;
}

h1,
footer {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: stretch;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

nav {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ".... north ...."
    "west ..... east"
    ".... south ....";
  padding: 7px 12px;
}

.up {
  grid-area: north;
}
.down {
  grid-area: south;
}
.left {
  grid-area: west;
}
.right {
  grid-area: east;
}

button {
  border: solid 1px darkgreen;
  border-radius: 5px;
  background-color: #adff2f;
  font-weight: bold;
  font-size: large;
  padding: 7px 12px;
  height: max-content;
}

footer {
  padding: 5px 0px 5px;
}

main {
  padding: 7px 12px;
  margin-right: 7px;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  border: solid 1px black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
